@import url('https://fonts.googleapis.com/css?family=Raleway');
/**{border: 1px solid black;}*/
html{
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}
body{
  height: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.content{
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.search-box{
  align-self: flex-end;
}
.search-icon, .random-page-icon{
  font-size: 24px;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
  color: white;
  background-size:cover;
  background-position: center;
  display: inline-block;
  padding: 10px 17px;
  border: 1px solid #85C1E9;
  border-radius: 44px;
  position: relative;
  left: -64px;
  bottom: -1px;
  cursor: pointer;
}
.search-icon{
  background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png);
}
.random-page-icon{
  background-color: #333;
}

a, a:hover, a:visited {text-decoration: none}

a .random-page-icon, a:hover .random-page-icon, a:visited .random-page-icon{
  text-decoration: none;
  color: white;
}

input[type="text"]{
  width: 70%;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 10px 25px 10px 8px;
  border: 2px solid #85C1E9;
  border-radius: 64px;
}

/*SEARCH RESULT BOX CSS*/
.search-result{
  background-color: #85C1E9;
  margin: 20px auto;
  border: 2px solid #85C1E9;
  border-radius: 10px;
}
.search-result h4{
  padding: 10px;
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.search-result p{
  padding: 20px 10px;
  margin-bottom: 0;
}
a .search-result h4 {color: black;}
a .search-result p {color: #333;}

a .search-result:hover {background-color: black;}
a .search-result:hover h4 {background-color: black; color: #85C1E9 }
a .search-result:hover p {background-color: #333; color: #85C1E9}
