@import url('https://fonts.googleapis.com/css?family=Raleway');
/**{border: 1px solid black;}*/
html{
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}
body{
  height: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.content{
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.search-box{
  align-self: flex-end;
}
.search-icon, .random-page-icon{
  font-size: 24px;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
  color: white;
  background-size:cover;
  background-position: center;
  display: inline-block;
  padding: 10px 18px;
  border: 2px solid #85C1E9;
  position: relative;
  cursor: pointer;
}
.search-icon{
  background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png);
  background-color: white;
  border-top-right-radius: 44px;
  border-bottom-right-radius: 44px;
  border-left: none;
}
.random-page-icon{
  border-top-left-radius: 44px;
  border-bottom-left-radius: 44px;
  background-color: white;
  border-right: none;
  margin-left: 0;
}

a, a:hover, a:visited {text-decoration: none;}

a .random-page-icon, a:hover .random-page-icon, a:visited .random-page-icon{
  text-decoration: none;
  color: black;
}

input[type="text"]{
  margin-left: 0 auto;
  maxwidth: 70%;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 10px 24px 10px 0;
  border-top: 2px solid #85C1E9;
  border-bottom: 2px solid #85C1E9;
  border-left: none;
  border-right: none;
}

input:focus{
  outline:none;
}

@media (max-width: 320px){
  input[type="text"]{
    font-size: 11px;
    width: 55%;
    padding-right: 5px;
  }
  .search-icon, .random-page-icon{
    padding: 10px, 0px;
  }
}

@media (max-width: 480px){
  input[type="text"]{
    font-size: 20px;
    width: 55%;
  }
}

@media (min-width:481px){
  input[type="text"]{
    font-size: 24px;
    width: 100%;
  }

}


/*SEARCH RESULT BOX CSS*/
.search-results{
  margin-bottom: 50px;
}
.search-result{
  background-color: #85C1E9;
  margin: 20px auto;
  border: 2px solid #85C1E9;
  border-radius: 10px;
}
.search-result h4{
  padding: 10px;
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.search-result p{
  padding: 20px 10px;
  margin-bottom: 0;
}
a .search-result h4 {color: black;}
a .search-result p {color: #333;}

a .search-result:hover {background-color: black;}
a .search-result:hover h4 {background-color: black; color: #85C1E9 }
a .search-result:hover p {background-color: #333; color: #85C1E9}

footer{
  position: relative;
  bottom: 0;
  margin-top: 30px;
  padding-top: 30px;
}
.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  background-color: #000;
  color: white;
}
.dcmf-logo{height: 20px;margin-bottom: 7px}
